<div class="banner">
  <div class="row">
    <nav class="navbar navbar-expand-lg  navbar navbar-dark bg-primary  m-10">
        <a class="navbar-brand"></a><a class="navbar-brand"></a><a class="navbar-brand"></a>
        <a class="navbar-brand"></a><a class="navbar-brand"></a><a class="navbar-brand"></a>
        <a class="navbar-brand" [routerLink]="['home']"> Productos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['crear']" >Crear</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['Eliminar']">Eliminar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="Actualizar">Actualizar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['Listar']">Listar</a>
            </li>
          </ul>
        
        </div>
      </nav>
  </div>
</div>
  