<div class="container">
  <h1>Listado de Productos</h1>
<div class="row">
  <form (ngSubmit)="editar(producto)">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos; let iControl=index">
          <th >{{producto.id}}</th>
          <td>{{producto.descripcion}}</td>
          <td>{{producto.precio}}</td>
          <td>{{producto.cantidad}}</td>
          <td>
             <!--  <button class="btn btn-primary"(click)="editar(producto)" >Editar</button> 
              <a  class="btn btn-warning"   (click)="editar(producto)">Editar</a> -->
                    
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  </div>
</div>