<div class="container">
     <div class="container">
   
    <div class="row">
      <div class="col-4 offset-4">
        <h1>Actualizar Productos</h1>
            <form  [formGroup]="productoForm" >
                <div class="input input-group">
                    <input class="form-control" type="text" formControlName="descripcion" placeholder="Descripcion">
                </div>
                <div class="input input-group">
                    <input class="form form-control" type="number" formControlName="precio" placeholder="Precio">
                </div>
                <div class="input input-group">
                    <input class="form form-control" type="number" formControlName="cantidad" placeholder="Cantidad">
                </div>
                <div class="input input-group buttons">
                    
                    <input class="btn btn-warning" type="button" value="Limpiar" (click)="Limpiar()">
                    <input class="btn btn-primary" type="button" value="Actualizar" (click)="actualizarProducto()" *ngIf="actualizar">
                </div>
        </form>
        
        </div>
    </div>

    <table class="table-primary col-10 " Border >
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <th scope="row">{{producto.id}}</th>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.cantidad}}</td>
            <td>
                <button class="btn btn-primary" (click)="editar(producto)">Editar</button>  
                  
            </td>
          </tr>
        </tbody>
      </table>
</div>
</div>
